name: pull-request-builder

on:
    pull_request:
        branches: [ master, develop ]
        types: [ opened, synchronize, reopened ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2.3.1

            -   name: Set up JDK 17
                uses: actions/setup-java@v1
                with:
                    java-version: 17

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Build with Gradle
                run: |
                    ./gradlew kotlinUpgradeYarnLock
                    ./gradlew build
